/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.idea/workspace.xml
.idea/discord.xml
.idea/workspace.xml
app/Http/Controllers/vendor/skymeyer/vatsimphp/app/logs/pilots.log

*.zip


.vscode/

.idea/

.DS_Store
