@import url('https://fonts.googleapis.com/css?family=Muli:500&display=swap');
* {
    font-family: 'Muli', 'Lato', 'Segoe UI', 'Arial', sans-serif;
}

:root{
    --czqo-blue: #0080c9;
}

body, html {
    height: 100vh;
    scroll-behavior: smooth;
}

body[data-theme="dark"] {
    background-color: rgb(47, 49, 54) !important;
    color: #eee;
    --czqo-blue: #2db2ff;
}

body[data-theme="dark"] .card,
body[data-theme="dark"] .list-group-item {
    background-color: rgb(59, 61, 68) !important;
}

body[data-theme="dark"] .list-group-item,
body[data-theme="dark"] span.black-text,
body[data-theme="dark"] .text-dark,
body[data-theme="dark"] .text-muted {
    color: #eee !important;
}

body[data-theme="dark"] .onlineControllers .card.black-text h4 span p {
    color: #eee !important;
}


.page-footer {
    background-color: rgb(249, 249, 249);
}

body[data-theme="dark"] .page-footer {
    background-color: #000;
}


body[data-theme="dark"] .page-footer .black-text {
    color: #eee !important;
}

body[data-theme="dark"] #czqoHeaderLight {
    background: rgb(47, 49, 54) !important;
}


body[data-theme="dark"] .modal-content {
    background:  rgb(59, 61, 68) !important;
}

body[data-theme="dark"] .modal-content .close {
    color: #eee !important;
}

#czqoHeaderImg {
    width: 225px;
    margin-bottom: 4px;
    height: 100%;
}
@media (max-width: 768px) {
    #czqoHeaderImg {
        margin-left: 10px;
    }
}
.jumbotron {
    border-radius: 0;
}
.dropdown-menu .dropdown-item {
    padding-left: 15px !important;
}

.dropdown-menu .dropdown-item.active, .dropdown-item:active {
    background: var(--czqo-blue);
}

.staff_img_container {
    height: 125px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.staff_img_container .staff_img_object {
    width: 125px;
    background: inherit;
    display: inline-block;
    vertical-align: middle;
}

.staff_img_container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: inherit;

}

.staff_img_container .img_overlay {
     position: absolute;
     z-index: 998;
     top: 0;
     opacity: 0;
     height: 125px;
     width: 125px;
     border-radius: 50%;
     background: inherit;
    transition: 0.5s ease;
}

.staff_img_container .img_overlay_text{
    z-index: 999;
    color: white;
    margin-top: 40%;
    opacity: 1;
    font-size: 1.5em;
}

.staff_img_container .img_overlay_text a {
    transition: 0.4s ease;
    color: #fff;
}

.staff_img_container .img_overlay_text a:hover {
    text-decoration: underline;
}

.staff_img_container .img_overlay:hover {
    opacity: 0.6;
    background: #000;
}

.profile-img {
    border-radius: 50%;
}

.btn-discord {
    background: #7289da !important;
    color: #fff !important;
}

.btn {
    text-transform: none !important;
}

a {
    transition: 0.8s ease;
}

body[data-theme="dark"] a {
    color: #eee;
}

body[data-theme="dark"] a.bg-czqo-blue-light {
    color: #000 !important;
}

a:hover {
    text-decoration: underline;
}

div.d-flex.flex-row > i {
    vertical-align: middle;
}

.nav-item .active {
    color:var(--czqo-blue)!important;
}

.dropdown-item.active {
    color: #fff!important;
}

.dropdown-item:active {
    color: var(--czqo-blue)!important;
    background: none!important;
}

.bg-czqo-blue-light {
    background-color: #cfeaff !important;
    color: #000;

}

.btn .bg-czqo-blue-light:not([disabled]):not(.disabled):active {
    background-color: #cfeaff !important;
    color: var(--czqo-blue) !important;
}

.list-group-item.active {
    background-color: var(--czqo-blue);
}

.btn, .btn:hover, .btn:active {
    box-shadow: none !important;
    border-radius: .45em !important;
}

.custom-file {
    border: 1px solid #E0E0DC;
    border-radius: .45em !important;
}

body[data-theme="dark"] .custom-file-label, body[data-theme="dark"] .custom-file-label::after {
    color: #eee !important;
}

body[data-theme="dark"] .form-control {
    color: #eee !important;
}

body[data-theme="dark"]  ::placeholder {
    color: rgb(184, 184, 184) !important;
    opacity: 1;
  }

.custom-file-input:lang(en) ~ .custom-file-label::after {
    border-left: 1px solid #E0E0DC;
}

.modal-content .modal-header h5.modal-title {
    font-weight: 700 !important;
    color: var(--czqo-blue)!important;
    font-size: 1.2rem;
}

.modal-dialog .modal-content {
    border-radius: 0.5em !important;
}

.card {
    border-radius: 0.5em !important;
}

.card .homepage-news .homepage-news-img {
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.list-group-item.card-bottom-border {
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.list-group-item.card-top-border {
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.rounded-0 {
    border-radius:0 !important;
}

.blue {
    background-color: var(--czqo-blue) !important;
}

.blue-text {
    color: var(--czqo-blue) !important;
}

.btn-primary {
    background-color: var(--czqo-blue) !important;
}

.dashboard-card-actions {
    font-size: 1.3em !important;
    color: var(--czqo-blue);
    font-weight: 600;
}


.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
