@import url('https://fonts.googleapis.com/css?family=Muli:500&display=swap');
* {
    font-family: 'Muli', 'Lato', 'Segoe UI', 'Arial', sans-serif;
}

:root{
    --czqo-blue: #0080c9;
    --czqo-light-blue: #cfeaff;
    --red: #f44336;
    --pink: #e91e63;
    --light-pink: #ff80ab;
    --purple: #9c27b0;
    --green: #4caf50;
    --orange: #ff9800;
}

body, html {
    height: 100vh;
    scroll-behavior: smooth;
}

body[data-theme="dark"] {
    background-color: rgb(47, 49, 54) !important;
    color: #eee;
    --czqo-blue: #2db2ff;
}

body[data-accent="red"] {
    --czqo-blue: var(--red);
}

body[data-accent="pink"] {
    --czqo-blue: var(--pink);
}

body[data-accent="light-pink"] {
    --czqo-blue: var(--light-pink);
}

body[data-accent="purple"] {
    --czqo-blue: var(--purple);
}

body[data-accent="green"] {
    --czqo-blue: var(--green);
}

body[data-accent="orange"] {
    --czqo-blue: var(--orange);
}

body[data-accent]:not([data-accent="default"]) {
    --czqo-light-blue: var(--czqo-blue);
}

body[data-theme="dark"] .card,
body[data-theme="dark"] .list-group-item,
body[data-theme="dark"] .introjs-tooltip,
body[data-theme="dark"] .home-quick-link,
body[data-theme="dark"] ul.stepper li.active div.step-content,
body[data-theme="dark"] .nav-tabs .nav-link.active {
    background-color: rgb(59, 61, 68) !important;
}

body[data-theme="dark"] .CodeMirror {
    background: rgb(59, 61, 68);
    color: #eee !important;
    caret-color: #eee !important;
}

body[data-theme="dark"] .editor-toolbar a {
    color: #eee !important;
}

body[data-theme="dark"] .CodeMirror-cursor {
    border-left: 1px solid #eee !important;
}

body[data-theme="dark"] .editor-toolbar a:hover, .editor-toolbar a.active {
    background: rgb(47, 49, 54) !important;
}

body[data-theme="dark"] .list-group-item,
body[data-theme="dark"] span.black-text,
body[data-theme="dark"] .text-dark,
body[data-theme="dark"] .text-muted,
body[data-theme="dark"] .introjs-tooltiptext,
body[data-theme="dark"] .stepper .label,
body[data-theme="dark"] .btn-link
{
    color: #eee !important;
}

ul.stepper li.active a .circle {
    background-color: var(--czqo-blue) !important;
}

body[data-theme="dark"] .introjs-button {
    color: #333;
}

body[data-theme="dark"] .onlineControllers .card.black-text h4 span p {
    color: #eee !important;
}


.page-footer {
    background-color: rgb(249, 249, 249);
}

body[data-theme="dark"] .page-footer {
    background-color: #000;
}


body[data-theme="dark"] .page-footer .black-text {
    color: #eee !important;
}



body[data-theme="dark"] .modal-content {
    background:  rgb(59, 61, 68) !important;
}

body[data-theme="dark"] .modal-content .close {
    color: #eee !important;
}

.myczqo-tab {
    color: inherit;
}

.myczqo-tab li {
    height: 35px;
    border-right: 3px solid #eeeeee;
}

body[data-theme="dark"] .myczqo-tab li {
    height: 35px;
    border-right: 3px solid rgb(59, 61, 68);
}

.myczqo-tab.active li {
    border-right: 3px solid var(--czqo-blue);
    color: var(--czqo-blue)
}

body[data-theme="dark"] .myczqo-tab.active li {
    border-right: 3px solid var(--czqo-blue);
    color: var(--czqo-blue)
}

.myczqo-tab:hover {
    text-decoration: none;
    color: var(--czqo-blue);
}

.myczqo-tab:hover li {
    border-right: 3px solid var(--czqo-blue);
}

#czqoHeaderImg {
    width: 225px;
    margin-bottom: 4px;
    height: 100%;
}
@media (max-width: 768px) {
    #czqoHeaderImg {
        margin-left: 10px;
    }
}
.jumbotron {
    border-radius: 0;
}
.dropdown-menu .dropdown-item {
    padding-left: 15px !important;
}

.dropdown-menu .dropdown-item.active, .dropdown-item:active {
    background: var(--czqo-blue);
}

.staff_img_container {
    height: 125px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.staff_img_container .staff_img_object {
    width: 125px;
    background: inherit;
    display: inline-block;
    vertical-align: middle;
}

.staff_img_container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: inherit;

}

.staff_img_container .img_overlay {
     position: absolute;
     z-index: 998;
     top: 0;
     opacity: 0;
     height: 125px;
     width: 125px;
     border-radius: 50%;
     background: inherit;
    transition: 0.5s ease;
}

.staff_img_container .img_overlay_text{
    z-index: 999;
    color: white;
    margin-top: 40%;
    opacity: 1;
    font-size: 1.5em;
}

.staff_img_container .img_overlay_text a {
    transition: 0.4s ease;
    color: #fff;
}

.staff_img_container .img_overlay_text a:hover {
    text-decoration: underline;
}

.staff_img_container .img_overlay:hover {
    opacity: 0.6;
    background: #000;
}

.profile-img {
    border-radius: 50%;
}

.btn-discord {
    background: #7289da !important;
    color: #fff !important;
}

.btn {
    text-transform: none !important;
}

a {
    transition: 0.8s ease;
}

body[data-theme="dark"] a {
    color: #eee;
}

body[data-theme="dark"] a.bg-czqo-blue-light {
    color: #000 !important;
}

a:hover {
    text-decoration: underline;
}

div.d-flex.flex-row > i {
    vertical-align: middle;
}

.nav-item .active {
    color:var(--czqo-blue)!important;
}

.dropdown-item.active {
    color: #fff!important;
}

.dropdown-item:active {
    color: var(--czqo-blue)!important;
    background: none!important;
}

.bg-czqo-blue-light {
    background-color: var(--czqo-light-blue) !important;
    color: #000;
}

.btn .bg-czqo-blue-light:not([disabled]):not(.disabled):active {
    background-color: var(--czqo-light-blue) !important;
    color: var(--czqo-blue) !important;
}

.btn .bg-czqo-blue-light:not([disabled]):not(.disabled):active {
    background-color: var(--czqo-light-blue) !important;
    color: var(--czqo-blue) !important;
}

body[data-accent]:not([data-accent="default"]) .bg-czqo-blue-light {
    color: #fff !important;
}


.list-group-item.active {
    background-color: var(--czqo-blue);
}

.btn {
    font-weight: 600;
}

.btn, .btn:hover, .btn:active {
    box-shadow: none !important;
    border-radius: .45em !important;
}

.custom-file {
    border: 1px solid #E0E0DC;
    border-radius: .45em !important;
}

body[data-theme="dark"] .custom-file-label, body[data-theme="dark"] .custom-file-label::after {
    color: #eee !important;
}

body[data-theme="dark"] .form-control {
    color: #eee !important;
}

body[data-theme="dark"] .form-control > option {
    color: #000!important;
}

body[data-theme="dark"]  ::placeholder {
    color: rgb(184, 184, 184) !important;
    opacity: 1;
  }

.custom-file-input:lang(en) ~ .custom-file-label::after {
    border-left: 1px solid #E0E0DC;
}

.modal-content .modal-header h5.modal-title {
    font-weight: 700 !important;
    color: var(--czqo-blue)!important;
    font-size: 1.2rem;
}

.modal-dialog .modal-content {
    border-radius: 0.5em !important;
}

.card {
    border-radius: 0.5em !important;
}

.card .homepage-news .homepage-news-img {
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.list-group-item.card-bottom-border {
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.list-group-item.card-top-border {
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.rounded-0 {
    border-radius:0 !important;
}

.blue {
    background-color: var(--czqo-blue) !important;
}

.blue-text {
    color: var(--czqo-blue) !important;
}

.btn-primary {
    background-color: var(--czqo-blue) !important;
}

.dashboard-card-actions {
    font-size: 1.3em !important;
    color: var(--czqo-blue);
    font-weight: 600;
}


.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body[data-theme="dark"] .list-group-item.bg-czqo-blue-light {
    background-color: #cfeaff !important;
}

.myczqo_avatar_container {
    height: 125px;
    margin-bottom: 10px;
    text-align: center;
}

.myczqo_avatar_container .myczqo_avatar_object {
    width: 125px;
    background: inherit;
    display: inline-block;
    vertical-align: middle;
}

.myczqo_avatar_container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: inherit;

}

.myczqo_avatar_container .img_overlay {
     position: absolute;
     z-index: 998;
     top: 0;
     opacity: 0;
     height: 125px;
     width: 125px;
     border-radius: 50%;
     background: inherit;
    transition: 0.5s ease;
}

.myczqo_avatar_container .img_overlay_text{
    z-index: 999;
    color: white;
    margin-top: 40%;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 800;
}

.myczqo_avatar_container .img_overlay_text a {
    transition: 0.4s ease;
    color: white;
}

.myczqo_avatar_container .img_overlay_text a:hover {
    text-decoration: underline;
}

.myczqo_avatar_container .img_overlay:hover {
    opacity: 0.5;

    background: #fff;
}

.modal-header, .modal-footer {
    border: none;
}

.toastify {
    border-radius: 0.6em !important;
    font-size: 1.2em;
}

.toastify .toast-close {
    margin-left: 10px !important;
}

body[data-theme="dark"] .btn-light {
    background: rgb(59, 61, 68) !important;
    border-color:  rgb(47, 49, 54) !important;
    border: 2px solid;
}

body[data-theme="dark"] .text-body {
    color: #eee !important;
}
